.chip-input {
  display: flex;
  flex-direction: column;
  width: "full";

  .chips {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .chip {
    background-color: #a6b5bf;
    color: "black";
    border-radius: 16px;
    padding: 2px 10px;
    margin: 4px;
    display: flex;
    align-items: center;

    &.highlighted {
      background-color: #ffc107;
    }

    .remove-button {
      margin-left: 4px;
      cursor: pointer;
      background: none;
      border: none;
      color: "black";
    }
  }

  .input-field {
    padding: 2px 6px;
    margin: 8px;
    outline: none;
  }

  .item-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 300px;
    position: absolute;
    max-height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a6b5bf;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f1f1f1;
      border-radius: 4px;
    }

    border: 1px solid #a6b5bf;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .item {
      cursor: pointer;
      padding: 4px 8px;
      background-color: "white";

      &:hover {
        background-color: #e0e0e0;
      }
      &.focused {
        background-color: #e0e0e0;
      }
    }
  }
}
